@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.holder{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    background-color: #98d9f0;
    opacity: 1;
    background: radial-gradient(
      circle,
      transparent 20%,
      #98d9f0 20%,
      #98d9f0 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #98d9f0 20%,
        #98d9f0 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#78a23f 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #78a23f 0.8px, #98d9f0 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.input{
    transition: 1s;
    width: 97%;
    margin: 1rem auto;
    height: 2rem;
    border-radius: 10px;
    border-color: rgb(109, 109, 109);
    border-style: solid;
    border-width: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1%;
}

.input:focus{
    transition: 1s;
    outline: none;
    border-color: #0b94cf;
    height: 2.2rem;
    filter: drop-shadow(1px 1px 2px #0b94cf);
    font-size: 1.7rem;
}

.title{
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    color: white;
}

.submit {
  width: 100%;
  margin: 2% auto;
  background-color: #78a23f;
  border: none;
  font-family: "Roboto", sans-serif;
  color: seashell;
  height: 2.2rem;
  font-size: 1.8rem;
  letter-spacing: 3px;
}

.submit:active {
  background-color: #a3c574;
}